<!DOCTYPE html>
<html class="wide wow-animation" lang="en"> 
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,300italic,700%7CMontserrat:300,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mdi.css">
    <link rel="stylesheet" href="css/fl-bigmug-line.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]--> 
  </head>
  <body> 
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="page-loader__logo"><img src="images/logo-default-253x49.png" alt="" width="253" height="49"/>
        </div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header bg-default">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-default">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-lg-device-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-md-stick-up-offset="2px" data-lg-stick-up-offset="2px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default" src="images/logo-default-253x49.png" alt="" width="253" height="49"/><img class="logo-inverse" src="images/logo-inverse-253x49.png" alt="" width="253" height="49"/></a></div>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#team">Our Team</a></li>
                    <li><a href="#testimonials">Testimonials </a></li>
                    <li><a href="#news">News</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Green Energy-->
      <section class="parallax-container parallax-main" id="home" data-parallax-img="images/project-5-original.jpg">
        <div class="parallax-content section-variant-1 context-dark dark-filter">
          <div class="container">
            <div class="row justify-content-md-center text-center">
              <div class="col-md-12 col-lg-6">
                <h3>Green Energy</h3>
                <p class="heading-3 text-elight">for everyone</p>
                <hr class="divider divider-default">
                <p class="heading-5">We have been providing our clients with affordable and <br class="d-none d-xl-inline"> reliable green energy solutions since our first day.</p><a class="button button-secondary" href="#modalContact" data-toggle="modal">free consultation</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--cta-->
      <section class="section section-xs text-center bg-gradient-1">
        <div class="container-wide">
          <div class="box-cta-thin">
            <p class="big"><span class="label-cta label-cta-primary">Hot!</span><strong>Earth Power</strong>&nbsp;<span>is your choice in the world of green energy solutions.</span>&nbsp;<a class="link-bold" href="#modalContact" data-toggle="modal">Contact us now!</a></p>
          </div>
        </div>
      </section>

      <section class="section section-lg bg-default" id="about">
        <!-- section wave-->
        <div class="container container-bigger">
          <div class="row row-50 justify-content-md-center align-items-lg-center justify-content-xl-between">
            <div class="col-md-10 col-lg-6 col-xl-5">
              <h3>We Are Earth Power</h3>
              <div class="divider divider-default"></div>
              <p class="heading-5">Our company is an end-to-end, customer oriented alternative energy company that brings you cutting-edge solar energy solutions.</p>
              <p class="text-spacing-sm">We are centered on marketing, trading, transportation, and distribution of solar panels in the US and around the world. Earth Power is an environmentally friendly renewable energy company offering a broad portfolio of technologies, products & solutions to our clients globally!</p><a class="button button-default-outline" href="#" data-custom-scroll-to="projects">learn more</a>
            </div>
            <div class="col-md-10 col-lg-6"><img src="images/about-us-1-720x459.jpg" alt="" width="720" height="459"/>
            </div>
          </div>
        </div>
      </section>

      <section class="parallax-container" id="services" data-parallax-img="images/bg-08.jpg">
        <div class="parallax-content section-lg text-center context-dark">
          <div class="container-wide">
            <div class="row justify-content-sm-center row-50">
              <div class="col-md-9 col-lg-6 col-xl-3">
                <div class="thumbnail-classic flex-md-row flex-lg-column">
                  <div class="thumbnail-classic-icon"><span class="icon novi-icon mdi mdi-thumb-up-outline"></span></div>
                  <div class="thumbnail-classic-caption">
                    <h6 class="thumbnail-classic-title">individual approach</h6>
                    <hr class="divider divider-default divider-sm"/>
                    <p class="thumbnail-classic-text">We use an individual approach to each client and we never offer you a set of standard green energy decisions.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-lg-6 col-xl-3">
                <div class="thumbnail-classic flex-md-row flex-lg-column">
                  <div class="thumbnail-classic-icon"><span class="icon novi-icon mdi mdi-account-multiple"></span></div>
                  <div class="thumbnail-classic-caption">
                    <h6 class="thumbnail-classic-title">qualified employees</h6>
                    <hr class="divider divider-default divider-sm"/>
                    <p class="thumbnail-classic-text">Our friendly and professional team works daily to bring you the best renewable energy solutions, from solar panels to wind power stations.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-lg-6 col-xl-3">
                <div class="thumbnail-classic flex-md-row flex-lg-column">
                  <div class="thumbnail-classic-icon"><span class="icon novi-icon mdi mdi-headset"></span></div>
                  <div class="thumbnail-classic-caption">
                    <h6 class="thumbnail-classic-title">24/7 online support</h6>
                    <hr class="divider divider-default divider-sm"/>
                    <p class="thumbnail-classic-text">Our online support is available 24 hours a day to answer your every question and help you solve any issues you may have with our products.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-lg-6 col-xl-3">
                <div class="thumbnail-classic flex-md-row flex-lg-column">
                  <div class="thumbnail-classic-icon"><span class="icon novi-icon mdi mdi-credit-card"></span></div>
                  <div class="thumbnail-classic-caption">
                    <h6 class="thumbnail-classic-title">Various Payment Methods</h6>
                    <hr class="divider divider-default divider-sm"/>
                    <p class="thumbnail-classic-text">We provide a variety of payment methods that include Paypal, Visa/Mastercard/American Express and lots of others.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Projects-->
      <section class="section section-lg bg-gray-lighter text-center" id="projects">
        <div class="container container-wide">
          <div class="row row-50 justify-content-md-center">
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
              <h3>Projects</h3>
              <div class="divider divider-default"></div>
              <p>Earth Power not only provides great renewable energy solutions, we also pride ourselves in high-quality installation and maintenance of wind farms and solar energy systems, which are included in our projects.</p>
            </div>
          </div>
          <div class="row row-50" data-lightgallery="group">
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/project-1-original.jpg" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/project-1-570x380.jpg" alt="" width="570" height="380"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#" data-custom-scroll-to="pricing">Industrial Wind Farms</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/project-2-original.jpg" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/project-2-570x380.jpg" alt="" width="570" height="380"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#" data-custom-scroll-to="pricing">Residential Solar Energy Systems</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/project-3-original.jpg" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/project-3-570x380.jpg" alt="" width="570" height="380"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#" data-custom-scroll-to="pricing">Combined Energy Sources</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/project-4-original.jpg" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/project-4-570x380.jpg" alt="" width="570" height="380"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#" data-custom-scroll-to="pricing">Industrial Solar Panels</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/project-5-original.jpg" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/project-5-570x380.jpg" alt="" width="570" height="380"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#" data-custom-scroll-to="pricing">Residential Wind Turbines</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/project-6-original.jpg" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/project-6-570x380.jpg" alt="" width="570" height="380"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#" data-custom-scroll-to="pricing">Commercial Solar Panels</a></div>
            </div>
          </div>
        </div><a class="button button-secondary" href="#" data-custom-scroll-to="">view all projects</a>
      </section>

      <section class="section section-lg bg-default text-center" id="pricing">
        <div class="container container-wide">
          <h3>table pricing</h3>
          <div class="row row-50 justify-content-sm-center">
            <!-- Pricing Box XL-->
            <div class="col-md-6 col-xl-3">
              <div class="pricing-box pricing-box-xl pricing-box-novi">
                <div class="pricing-box-header">
                  <h4>basic</h4>
                </div>
                <div class="pricing-box-price">
                  <div class="heading-2"><sup>$</sup>49.00</div>
                </div><a class="button button-sm button-secondary" href="#modalContact" data-toggle="modal">order now</a>
                <div class="pricing-box-body">
                  <ul class="pricing-box-list">
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-home-variant"></span></div>
                        <div class="unit-body"><span>Residential Solar Panels</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-settings"></span></div>
                        <div class="unit-body"><span>Maintenance</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-truck-delivery"></span></div>
                        <div class="unit-body"><span>Replacement Parts Delivery</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-headset"></span></div>
                        <div class="unit-body"><span>24/7 Phone Support</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md icon-primary mdi mdi-message-processing"></span></div>
                        <div class="unit-body"><span>Online Consultations</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Pricing Box XL-->
            <div class="col-md-6 col-xl-3">
              <div class="pricing-box pricing-box-xl pricing-box-novi">
                <div class="pricing-box-header">
                  <h4>standard</h4>
                </div>
                <div class="pricing-box-price">
                  <div class="heading-2"><sup>$</sup>69.00</div>
                </div><a class="button button-sm button-secondary" href="#modalContact" data-toggle="modal">order now</a>
                <div class="pricing-box-body">
                  <ul class="pricing-box-list">
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-city"></span></div>
                        <div class="unit-body"><span>Business Solar Panels</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-fan"></span></div>
                        <div class="unit-body"><span>Residential Wind Turbines</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-battery-outline"></span></div>
                        <div class="unit-body"><span>Free Batteries & Chargers</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-book-open"></span></div>
                        <div class="unit-body"><span>Access to the Parts Catalog</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md icon-primary mdi mdi-headset"></span></div>
                        <div class="unit-body"><span>Online Support</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Pricing Box XL-->
            <div class="col-md-6 col-xl-3">
              <div class="pricing-box pricing-box-xl pricing-box-novi">
                <div class="pricing-box-header">
                  <h4>gold</h4>
                </div>
                <div class="pricing-box-price">
                  <div class="heading-2"><sup>$</sup>88.00</div>
                </div><a class="button button-sm button-secondary" href="#modalContact" data-toggle="modal">order now</a>
                <div class="pricing-box-body">
                  <ul class="pricing-box-list">
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-weather-sunny"></span></div>
                        <div class="unit-body"><span>Commercial Solar Panels</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-wrench"></span></div>
                        <div class="unit-body"><span>Free Replacement Parts</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-settings"></span></div>
                        <div class="unit-body"><span>Annual Maintenance</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-fan"></span></div>
                        <div class="unit-body"><span>Wind Turbines Installation</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md icon-primary mdi mdi-message-processing"></span></div>
                        <div class="unit-body"><span>Free Consultations</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Pricing Box XL-->
            <div class="col-md-6 col-xl-3">
              <div class="pricing-box pricing-box-xl pricing-box-novi">
                <div class="pricing-box-header"> 
                  <h4>platinum</h4>
                </div>
                <div class="pricing-box-price">
                  <div class="heading-2"><sup>$</sup>108.00</div>
                </div><a class="button button-sm button-secondary" href="#modalContact" data-toggle="modal">order now</a>
                <div class="pricing-box-body">
                  <ul class="pricing-box-list">
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-weather-sunny"></span></div>
                        <div class="unit-body"><span>Solar Panels Installation</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-wrench"></span></div>
                        <div class="unit-body"><span>Free Accessories  & Parts</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-settings"></span></div>
                        <div class="unit-body"><span>Regular Maintenance</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md-big icon-primary mdi mdi-fan"></span></div>
                        <div class="unit-body"><span>Wind Farms Engineering</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-sm flex-row align-items-center">
                        <div class="unit-left"><span class="icon novi-icon icon-md icon-primary mdi mdi-headset"></span></div>
                        <div class="unit-body"><span>24/7 Customer Support</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- CTA Gradient-->
      <section class="section section-xs text-center bg-gradient-1">
        <div class="container-wide">
          <div class="box-cta-thin">
            <p class="big"><strong>Make the right choice!</strong>&nbsp;<span>Do you need a consultation?</span>&nbsp;<a class="link-bold" href="#modalContact" data-toggle="modal">Call us now!</a></p>
          </div>
        </div>
      </section>

      <!-- our team-->
      <section class="section section-lg bg-default text-center" id="team">
        <div class="container-wide">
          <h3>our team</h3>
          <hr class="divider divider-default">
          <div class="row row-50 justify-content-sm-center">
            <div class="col-md-6 col-lg-3">
              <div class="team-classic team-classic-circle">
                <figure><img class="rounded-circle" src="images/team-07-300x300.jpg" alt="" width="300" height="300"/>
                </figure>
                <div class="team-classic-caption">
                  <h5><a class="team-classic-title" href="#" data-custom-scroll-to="">Sandra Ferguson</a></h5>
                  <p class="team-classic-job-position">CEO, Founder</p>
                  <ul class="list-inline list-team">
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-classic team-classic-circle">
                <figure><img class="rounded-circle" src="images/team-08-300x300.jpg" alt="" width="300" height="300"/>
                </figure>
                <div class="team-classic-caption">
                  <h5><a class="team-classic-title" href="#" data-custom-scroll-to="">Ronald Chen</a></h5>
                  <p class="team-classic-job-position">Marketer</p>
                  <ul class="list-inline list-team">
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-classic team-classic-circle">
                <figure><img class="rounded-circle" src="images/team-09-300x300.jpg" alt="" width="300" height="300"/>
                </figure>
                <div class="team-classic-caption">
                  <h5><a class="team-classic-title" href="#" data-custom-scroll-to="">Frances Watson</a></h5>
                  <p class="team-classic-job-position">Support Operator</p>
                  <ul class="list-inline list-team">
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-classic team-classic-circle">
                <figure><img class="rounded-circle" src="images/team-10-300x300.jpg" alt="" width="300" height="300"/>
                </figure>
                <div class="team-classic-caption">
                  <h5><a class="team-classic-title" href="#" data-custom-scroll-to="">Joe Myers</a></h5>
                  <p class="team-classic-job-position">Head of Business Development</p>
                  <ul class="list-inline list-team">
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--testimonials-->
      <section class="parallax-container" id="testimonials" data-parallax-img="images/bg-09.jpg">
        <div class="parallax-content section-lg text-center context-dark">
          <div class="container container-wide">
            <h3>testimonials</h3>
            <hr class="divider divider-default">
            <!-- Owl Carousel-->
            <div class="owl-carousel" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="3" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-lg-margin="80" data-mouse-drag="false" data-autoplay="true">
              <article class="quote-modern">
                <div class="quote-modern-text">
                  <p>The service provided by Earth Power has been excellent throughout this project. Their project delivery program was well thought out and integrated seamlessly with our own operation and was delivered on time with professionalism.</p>
                </div>
                <div class="quote-modern-footer"><img class="quote-modern-image" src="images/quote-user-4-80x80.jpg" alt="" width="80" height="80"/>
                  <div class="quote-modern-meta">
                    <p class="quote-modern-cite">Philip Lawrence</p>
                    <p class="quote-modern-small">Regular Customer</p>
                  </div>
                </div>
              </article>
              <article class="quote-modern">
                <div class="quote-modern-text">
                  <p>Your team was helpful and efficient throughout the install and they also commissioned a display that informs the young people visiting us about the energy savings to improve their understanding of sustainability, which is very important to us.</p>
                </div>
                <div class="quote-modern-footer"><img class="quote-modern-image" src="images/quote-user-5-80x80.jpg" alt="" width="80" height="80"/>
                  <div class="quote-modern-meta">
                    <p class="quote-modern-cite">Debra Ortega</p>
                    <p class="quote-modern-small">Regular Customer</p>
                  </div>
                </div>
              </article>
              <article class="quote-modern">
                <div class="quote-modern-text">
                  <p>The installation process was very good indeed. I’ve been impressed with your performance throughout and the people working for you who did their jobs brilliantly. I would recommend them to any other company considering solar for their business.</p>
                </div>
                <div class="quote-modern-footer"><img class="quote-modern-image" src="images/quote-user-6-80x80.jpg" alt="" width="80" height="80"/>
                  <div class="quote-modern-meta">
                    <p class="quote-modern-cite">Jose Gutierrez</p>
                    <p class="quote-modern-small">Regular Customer</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- do you need a consultation?-->
      <section class="section section-md bg-gradient-1 text-center text-md-left">
        <div class="container-wide">
          <div class="row row-50 justify-content-sm-center">
            <div class="col-xxl-8">
              <div class="box-cta box-cta-inline">
                <div class="box-cta-inner">
                  <h3 class="box-cta-title">do you need a consultation?</h3>
                  <p>Earth Power can give you lots of advantages, from which you will surely benefit.</p>
                </div>
                <div class="box-cta-inner"><a class="button button-secondary" href="#modalContact" data-toggle="modal">Contact Us</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Blog posts-->
      <section class="section section-lg bg-gray-lighter text-center" id="news">
        <div class="container-wide">
          <div class="row">
            <div class="col-sm-12">
              <h3>Latest blog posts</h3>
              <div class="divider divider-default"></div>
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-carousel-team owl-carousel-inset" data-items="1" data-md-items="2" data-xl-items="3" data-xxl-items="4" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false" data-dots="true" data-autoplay="true">
                <article class="post-blog"><a class="post-blog-image" href="#" data-custom-scroll-to=""><img src="images/grid-blog-1-420x305.jpg" alt="" width="420" height="305"/></a>
                  <div class="post-blog-caption">
                    <div class="post-blog-caption-header">
                      <ul class="post-blog-tags">
                        <li><a class="button-tags" href="#" data-custom-scroll-to="">news</a></li>
                      </ul>
                      <ul class="post-blog-meta">
                        <li><span>by</span>&nbsp;<a href="#" data-custom-scroll-to="">Ronald Chen</a></li>
                      </ul>
                    </div>
                    <div class="post-blog-caption-body">
                      <h5><a class="post-blog-title" href="#" data-custom-scroll-to="">Questions to Ask Before Installing Solar Panels</a></h5>
                    </div>
                    <div class="post-blog-caption-footer">
                      <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment" href="#" data-custom-scroll-to=""><span class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                    </div>
                  </div>
                </article>
                <article class="post-blog"><a class="post-blog-image" href="#" data-custom-scroll-to=""><img src="images/grid-blog-2-420x305.jpg" alt="" width="420" height="305"/></a>
                  <div class="post-blog-caption">
                    <div class="post-blog-caption-header">
                      <ul class="post-blog-tags">
                        <li><a class="button-tags" href="#" data-custom-scroll-to="">Tips & Tricks</a></li>
                      </ul>
                      <ul class="post-blog-meta">
                        <li><span>by</span>&nbsp;<a href="#" data-custom-scroll-to="">Ronald Chen</a></li>
                      </ul>
                    </div>
                    <div class="post-blog-caption-body">
                      <h5><a class="post-blog-title" href="#" data-custom-scroll-to="">Is it Possible to Add More Solar Panels to an Existing System?</a></h5>
                    </div>
                    <div class="post-blog-caption-footer">
                      <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment" href="#" data-custom-scroll-to=""><span class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                    </div>
                  </div>
                </article>
                <article class="post-blog"><a class="post-blog-video" href="#" data-lightgallery="item">
                    <figure><img src="images/grid-blog-3-420x305.jpg" alt="" width="420" height="305"/>
                    </figure><span class="icon novi-icon mdi mdi-play-circle-outline"></span></a>
                  <div class="post-blog-caption">
                    <div class="post-blog-caption-header">
                      <ul class="post-blog-tags">
                        <li><a class="button-tags" href="#" data-custom-scroll-to="">news</a></li>
                      </ul>
                      <ul class="post-blog-meta">
                        <li><span>by</span>&nbsp;<a href="#" data-custom-scroll-to="">Ronald Chen</a></li>
                      </ul>
                    </div>
                    <div class="post-blog-caption-body">
                      <h5><a class="post-blog-title" href="#" data-custom-scroll-to="">Solar Panels Can Help the Environment and Here’s Why</a></h5>
                    </div>
                    <div class="post-blog-caption-footer">
                      <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment" href="#" data-custom-scroll-to=""><span class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                    </div>
                  </div>
                </article>
                <article class="post-blog"><a class="post-blog-quote" href="#" data-custom-scroll-to="">
                    <p class="post-blog-quote-text">Depending on the system size you choose, you can take a hefty chunk out of (or even eliminate)  your utility bill.</p></a>
                  <div class="post-blog-caption">
                    <div class="post-blog-caption-header">
                      <ul class="post-blog-tags">
                        <li><a class="button-tags" href="#" data-custom-scroll-to="">Tips & Tricks</a></li>
                      </ul>
                      <ul class="post-blog-meta">
                        <li><span>by</span>&nbsp;<a href="#" data-custom-scroll-to="">Ronald Chen</a></li>
                      </ul>
                    </div>
                    <div class="post-blog-caption-body">
                      <h5><a class="post-blog-title" href="#" data-custom-scroll-to="">Charging an Electric Car with Solar Panels</a></h5>
                    </div>
                    <div class="post-blog-caption-footer">
                      <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment" href="#" data-custom-scroll-to=""><span class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="google-map-container"><iframe src="https://www.amap.com/" width="100%" height="100%" frameborder="0" style="border:0" sandbox=""></iframe></div>
      </section>
      <!-- Page Footer-->
      <!-- Footer Alternative-->
      <footer class="section page-footer page-footer-alternative bg-gray-darker">
        <div class="container-wide">
          <div class="row row-50 justify-content-sm-center justify-content-xl-between">
            <div class="col-md-6 col-xl-3">
              <h6>About us</h6>
              <p>Our company is an end-to-end, customer oriented alternative energy company that brings you cutting-edge solar energy solutions. We are centered on marketing, trading, transportation, and distribution of solar panels in the US and around the world.</p>
            </div>
            <div class="col-md-6 col-xl-3">
              <h6>Gallery</h6>
              <div class="instafeed text-center" data-lightgallery="group">
                <div class="row row-10 row-narrow">
                  <div class="col-4">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="images/project-1-original.jpg"><img src="images/project-1-570x380.jpg" alt="" width="570" height="380"/>
                        <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="images/project-2-original.jpg"><img src="images/project-2-570x380.jpg" alt="" width="570" height="380"/>
                        <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="images/project-3-original.jpg"><img src="images/project-3-570x380.jpg" alt="" width="570" height="380"/>
                        <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="images/project-4-original.jpg"><img src="images/project-4-570x380.jpg" alt="" width="570" height="380"/>
                        <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="images/project-5-original.jpg"><img src="images/project-5-570x380.jpg" alt="" width="570" height="380"/>
                        <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="images/project-6-original.jpg"><img src="images/project-6-570x380.jpg" alt="" width="570" height="380"/>
                        <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <h6>Contact US</h6>
              <ul class="list-xs list-darker">
                <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span>
                  <div><a href="#">2130 Fulton Street, Chicago,<br class="d-none d-xxl-inline"/>&nbsp;
                      IL 94117-1080 USA </a></div>
                </li>
                <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                  <ul class="list-comma">
                    <li><a href="tel:#">1-800-1234-567</a></li>
                    <li><a href="tel:#">1-800-6780-345</a></li>
                  </ul>
                </li>
                <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a href="mailto:#">mail@demolink.org</a></li>
              </ul>
              <ul class="page-footer-icon-list social-icons-list">
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-google" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-linkedin" href="#"></a></li>
              </ul>
            </div>
            <div class="col-md-6 col-xl-3">
              <h6>Newsletter</h6>
              <p class="text-spacing-sm">Keep up with our always upcoming news and updates.  Enter your e-mail and subscribe to our newsletter.</p>
              <!-- RD Mailform: Subscribe-->
              <form class="rd-mailform rd-mailform-inline rd-mailform-sm" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="rd-mailform-inline-inner">
                  <div class="form-wrap">
                    <input class="form-input" type="email" name="email" data-constraints="@Email @Required" id="subscribe-form-email-1"/>
                    <label class="form-label" for="subscribe-form-email-1">Enter your e-mail</label>
                  </div>
                  <button class="button form-button button-sm button-secondary" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
          <div class="divider-xl"></div>
          <div class="row align-items-sm-center row-30 text-left">
            <div class="col-xl-6">
              <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved</p>
            </div>
          </div>
        </div>
      </footer>
      <!-- Modal-->
      <div class="modal fade" id="modalContact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Contact Us</h4>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-20">
                  <div class="col-md-12">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label" for="form-name">First name</label>
                      <input class="form-input" id="form-name" type="text" name="name" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label" for="form-email">E-mail</label>
                      <input class="form-input" id="form-email" type="email" name="email" data-constraints="@Email @Required">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label" for="form-phone">Phone</label>
                      <input class="form-input" id="form-phone" type="text" name="phone" data-constraints="@Numeric @Required">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label" for="form-message">Message</label>
                      <textarea class="form-input" id="form-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-button">
                      <button class="button button-block button-secondary" type="submit">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by barber-->
  </body>
</html>