<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>The Truth About Money</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CLato:400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body> 
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-lg-stick-up-offset="67px">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
            <div class="rd-navbar-collapse rd-navbar-top-panel">
              <ul class="list-inline">
                <li><a class="fa-twitter icon icon-dark icon-xs" href="#"></a></li>
                <li><a class="fa-facebook-square icon icon-dark icon-xs" href="#"></a></li>
                <li><a class="fa-linkedin icon icon-dark icon-xs" href="#"></a></li>
                <li><a class="fa-google-plus-square icon icon-dark icon-xs" href="#"></a></li>
              </ul>
              <p class="offset-none font-weight-bold"><a href="callto:#"><span class="icon text-white fa-phone icon-xs"></span>+1 959 603 6035</a></p>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img class="img-responsive" alt="" width="284" height="69" src="images/logo.png"></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="./">Home</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Header style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="header-variant.html">Header style 1</a></li>
                          <li><a href="header-variant-1.html">Header style 2</a></li>
                          <li><a href="header-variant-2.html">Header style 3</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Footer style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="footer-variant.html">Footer style 1</a></li>
                          <li><a href="footer-variant-1.html">Footer style 2</a></li>
                          <li><a href="footer-variant-2.html">Footer style 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="about.html">About<span class="rd-navbar-fullwidth-hidden"> Me</span></a></li>
                  <li><a href="planning.html">Financial Planning</a></li>
                  <li><a href="help.html">Investment Help</a></li>
                  <li class="active"><a href="advice.html">Advice</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Sidebar style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="advice-left.html">Left sidebar</a></li>
                          <li><a href="advice-right.html">Right sidebar</a></li>
                          <li><a href="advice-sidebar-none.html">Sidebar none</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Post style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-single-post.html">Single Post</a></li>
                          <li><a href="blog-single-post-video.html">Video post</a></li>
                          <li><a href="blog-single-post-audio.html">Audio post</a></li>
                          <li><a href="blog-single-post-gallery.html">Gallery post</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="contacts.html">Contacts</a></li>
                  <li class="rd-navbar-cta"><a class="btn btn-primary" href="consultation.html">Free Consultation</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="bg-mine">
          <div class="container">
            <ol class="breadcrumb">
              <li><a href="./">Home</a></li>
              <li><a href="advice.html"> Gallery</a></li>
              <li class="active">The Truth About Money</li>
            </ol>
          </div>
        </section>
        <section class="overflow-hidden">
          <div class="container text-lg-left">
            <div class="row justify-content-lg-between justify-content-center">
              <div class="col-lg-7 col-xl-8 offset-xl-1 order-lg-1 section-top-72 section-md-bottom-72 section-xxl-bottom-110">
                <div class="row post-blog">
                  <div class="col-lg-12">
                    <h1 class="post-blog-title">The Truth About Money</h1>
                    <div class="post-blog-meta"><a class="post-blog-label" href="advice.html">Gallery</a>
                      <p class="post-blog-date">April 20, 2016</p>
                    </div>
                  </div>
                  <div class="offset-top-0 col-md-6 col-lg-8 col-xl-6">
                    <!-- Owl Carousel-->
                    <div class="owl-nav-center owl-carousel" data-items="1" data-nav="true"><img class="center-block img-responsive" src="images/advice-02.jpg" width="370" height="239" alt=""><img class="center-block img-responsive" src="images/advice-01.jpg" width="370" height="239" alt=""></div>
                  </div>
                  <div class="col-md-6 col-lg-12 col-xl-6 offset-top-22 offset-md-top-0 offset-lg-top-22 offset-xl-top-0">
                    <p class="text-spruce text-sm-justify">The Truth About Money, 1th Edition is a comprehensive, practical, "how-to" manual on financial planning, is one of the most highly acclaimed books in the personal finance field. You'll discover everything you need to know about investments, insurance, long-term care, planning for retirement, buying and selling your home, getting out of debt, how to pay for college, weddings and cars - and much more.</p>
                  </div>
                </div>
                <p class="text-spruce offset-top-42 offset-xl-top-72">Best of all, the book explains difficult financial concepts in plain English with a breezy style. It's fun and easy to read.<br><br>Since the book was last revised in 2004, the world of personal finance has changed dramatically. This all-new 4th revision is the most extensive one that John has ever undertaken, and includes fresh updates and brand new material including:</p>
                <div class="row offset-top-42">
                  <div class="col-md-8">
                    <ul class="list-marked-variant-2">
                      <li>Planning Your Retirement Lifestyle: How you can enjoy a comfortable retirement – and what you can do to get there.</li>
                      <li>Investment Choices: Learn how low cost investments can help you create wealth while potentially saving you money. Target-Date Strategies: It’s what you don’t know that can hurt you.</li>
                      <li>Behavioral Finance and Neuroeconomics: Learn why you make bad financial decisions-and how to break the cycle</li>
                      <li>Picking your Investments: Find out the truth about Morningstar.</li>
                      <li>Are Your Parents Aging? See how to best provide help-without harming yourself financially</li>
                    </ul>
                  </div>
                  <div class="col-md-4"><img class="img-responsive center-block" src="images/blog-post-02.jpg" width="252" height="395" alt=""></div>
                </div>
                <p class="text-spruce offset-top-42">Whether you are saving for college or retirement, buying a home or selling one, concerned about long-term care for yourself or your parents, worried about an impending job loss, or facing any financial decision, knowing The Truth About Money will help you make great financial decisions.</p>
                <div class="text-lg-left offset-top-22 element-groups-10"><a class="btn btn-primary btn-lg" href="#">Buy at Amazon</a></div>
                <hr class="divider divider-gallery divider-grab-left divider-fullwidth offset-top-72">
                <ul class="post-blog-full-meta text-lg-left offset-top-22">
                  <li>Posted by<a href="#"> John Doe</a></li>
                  <li>April 20, 2014</li>
                  <li>Categories:<a href="#"> Books</a></li>
                  <li><a href="#">2 </a>Comments</li>
                </ul>
                <hr class="divider divider-gallery divider-grab-left divider-fullwidth offset-top-22">
                <div class="post-blog-share element-groups-20"><a class="icon icon-sm icon-ract fa-facebook" href="#"></a><a class="icon icon-sm icon-ract fa-twitter" href="#"></a><a class="icon icon-sm icon-ract fa-linkedin" href="#"></a><a class="icon icon-sm icon-ract fa-google-plus" href="#"></a></div>
                <hr class="divider divider-gallery divider-grab-left divider-fullwidth offset-top-22">
                <h1 class="offset-top-42 offset-lg-top-72 text-center text-lg-left">About The Autor</h1>
                <div class="row offset-top-32">
                  <div class="col-md-3"><img class="img-responsive center-block" src="images/blog-post-03.jpg" width="170" height="187" alt=""></div>
                  <div class="col-md-9">
                    <p>I am John Doe, a senior advisor for an independently owned financial planning company called FinVertex.<br><br>Working with FinVertex gives me the ability to advise international expatriates living in the middle east from where I live in USA.</p>
                  </div>
                </div>
                <hr class="divider divider-gallery divider-grab-left divider-fullwidth offset-top-42 offset-lg-top-72">
                <h1 class="offset-top-42 offset-lg-top-72 text-center text-lg-left">Related Books</h1>
                <!-- Owl Carousel-->
                <div class="offset-top-22">
                  <div class="owl-nav-variant-1 owl-carousel" data-nav="true" data-drag="false" data-items="1" data-md-items="3" data-lg-items="2" data-xl-items="3" data-margin="50">
                    <div class="text-center">
                      <div class="reveal-inline-block"><img class="img-responsive center-block" src="images/blog-post-04.jpg" width="170" height="262" alt=""></div>
                      <div class="offset-top-22"><a class="semi-small font-accent" href="blog-single-post.html">Discover the Wealth Within You</a></div>
                    </div>
                    <div class="text-center">
                      <div class="reveal-inline-block"><img class="img-responsive center-block" src="images/blog-post-05.jpg" width="170" height="262" alt=""></div>
                      <div class="offset-top-22"><a class="semi-small font-accent" href="blog-single-post.html">Rescue Your Money</a></div>
                    </div>
                    <div class="text-center">
                      <div class="reveal-inline-block"><img class="img-responsive center-block" src="images/blog-post-06.jpg" width="170" height="262" alt=""></div>
                      <div class="offset-top-22"><a class="semi-small font-accent" id="reply" href="blog-single-post.html">The Lies About Money</a></div>
                    </div>
                  </div>
                </div>
                <hr class="divider divider-gallery divider-grab-left divider-fullwidth offset-top-42 offset-lg-top-72">
                <div class="post-blog-comment-form offset-top-22 offset-lg-top-72 unit flex-sm-row flex-md-row flex-lg-row flex-xl-row">
                  <div class="unit-left"><img class="img-responsive center-block" src="images/blog-post-07.jpg" width="70" height="70" alt=""></div>
                  <div class="unit-body">
                    <form action="#">
                      <textarea class="form-control form-control-ract" placeholder="Join the discussion..."></textarea>
                      <div class="row justify-content-sm-between offset-top-22">
                        <div class="col-md-7">
                          <input class="form-control form-control-sm form-control-ract" type="text" placeholder="Name">
                        </div>
                        <div class="col-md-3 text-lg-right">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="post-blog-comment offset-top-50 text-sm-left unit flex-sm-row flex-md-row flex-lg-row flex-xl-row">
                  <div class="unit-left"><img class="img-responsive center-block" src="images/blog-post-07.jpg" width="70" height="70" alt=""></div>
                  <div class="unit-body offset-top-10">
                    <div class="element-groups-20">
                      <div class="post-blog-comment-author">Jessica H. Wheaton</div>
                      <div class="post-blog-comment-time text-muted">15 hours ago</div><a class="post-blog-comment-reply" href="#reply"></a>
                    </div>
                    <p class="offset-top-10 offset-sm-top-22">Gosh! I have been slowly damaging my heart all these years! It’s time to stop ruining myself.</p>
                  </div>
                </div>
                <div class="offset-sm-top-10 post-blog-comment post-blog-comment-answer text-sm-left unit flex-sm-row flex-md-row flex-lg-row flex-xl-row">
                  <div class="unit-left"><img class="img-responsive center-block" src="images/blog-post-07.jpg" width="70" height="70" alt=""></div>
                  <div class="unit-body offset-top-10">
                    <div class="element-groups-20">
                      <div><span class="post-blog-comment-author"><span>Ryan K. Moran</span></span><span class="text-muted"> to <span class="text-primary">Jessica</span></span></div>
                      <div class="post-blog-comment-time text-muted">15 hours ago</div><a class="post-blog-comment-reply" href="#reply"></a>
                    </div>
                    <p class="offset-top-10 offset-sm-top-22">Gosh! I have been slowly damaging my heart all these years! It’s time to stop ruining myself.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-lg-4 col-xl-3 section-50 divider-right-15 offset-top-0 text-center text-lg-left">
                <h3>Are You On<br class="d-none d-xl-block"> Track To Meet Your <br class="d-none d-xl-block">Retirement Guess?
                </h3><a class="offset-top-10 btn d-lg-block btn-primary btn-lg" href="#">Get FREE Portfolio Review</a>
                <p class="text-regent offset-top-22">5 important things to do<br class="d-none d-lg-block">before you retire</p>
                <div class="offset-top-42 offset-lg-top-62 relative">
                  <div class="sr-only-custom">aqsdasdasd</div>
                  <hr class="divider divider-gallery divider-fullwidth divider-abs">
                </div>
                <h3 class="offset-top-42 offset-lg-top-62">Archive</h3>
                <div class="offset-top-22">
                  <ul class="reveal-inline-block list-marked-variant-1 text-left">
                    <li><a href="advice.html">2016</a></li>
                    <li><a href="advice.html">2015</a></li>
                    <li><a href="advice.html">2014</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <footer class="page-footer text-lg-left">
        <section class="page-footer-subsection section-top-72 section-bottom-90">
          <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-between">
              <div class="col-md-8 col-xl-5 col-lg-6">
                <h1><span class="icon icon-lg fa-send-o"></span>Sign Up</h1>
                <p class="font-accent text-white">Get subscriber only insights & news <br class=.d-none d-lg-block"> delivered by John Doe</p>
                <!-- RD Mailform-->
                <form class="rd-mailform text-center offset-top-20 form-inline-flex d-sm-flex" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="fullwidth">
                    <div class="form-group">
                      <label class="form-label" for="contact-email">E-Mail</label>
                      <input class="form-control" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                  </div>
                  <button class="btn btn-primary offset-sm-left-10 offset-top-10 offset-sm-top-0" type="submit">Submit</button>
                </form>
              </div>
              <div class="offset-xxl-1 col-lg-6 offset-top-50 offset-lg-top-0">
                <h1><span class="icon icon-lg fa-envelope-o"></span>Contact Me</h1>
                <dl class="list-terms">
                  <dt>E-mail</dt>
                  <dd><a href="mailto:#">johndoe@demolink.org</a></dd>
                </dl>
                <dl class="list-terms">
                  <dt>Telephone</dt>
                  <dd><a href="callto:#">+1 959 603 6035</a></dd>
                </dl>
                <dl class="list-terms">
                  <dt>Address</dt>
                  <dd><a href="#">222 Fashion Lane, Ste. 207 Tustin, CA 92780</a></dd>
                </dl>
              </div>
            </div>
          </div>
        </section>
        <section class="section-50">
          <div class="container">
            <div class="row row-30">
              <div class="col-md-6 col-lg-3 offset-xl-1 order-lg-1">
                <h4>Financial Planning</h4>
                <ul class="list">
                  <li><a href="planning.html">Investment Management</a></li>
                  <li><a href="planning.html">Retirement Planning</a></li>
                  <li><a href="planning.html">Long Term Care</a></li>
                  <li><a href="planning.html">Estate Planning</a></li>
                  <li><a href="planning.html">Social Security</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-3 order-lg-1 offset-md-top-0">
                <h4>Investment Help</h4>
                <ul class="list">
                  <li><a href="help.html">Wealth Management</a></li>
                  <li><a href="help.html">Retirement & College</a></li>
                  <li><a href="help.html">Savings Business Owners</a></li>
                  <li><a href="help.html">Insurance & Annuities</a></li>
                  <li><a href="help.html">Cash & Credit</a></li>
                  <li><a href="help.html">Stocks, Bonds & Mutual Funds</a></li>
                </ul>
              </div>
              <div class="col-lg-5">
                <p class="small">
                  Investments products and services available only to residents of : Arizona - AZ, California - CA, Hawaii - HI, Idaho - ID, New Jersey - NJ, New Mexico - NM, Oregon - OR, Washington - WA Securities and Investment Advice through John Doe & Company, A registered broker/dealer and Investment Advisor, Member FINRA and SIPC. 101 Serious Road, Fincity, FL 32707 Tel: (959) 603- 6035.| John Doe Financial Advisors is not an affiliate of Wall Street Company.
                  <br><br>
                  All other trademarks and copyrights are the properties of their respective holders.
                  This website provides information related to the subjects covered. Before making any financial or legal decisions, a professional should be consulted.
                  
                </p>
                <div class="text-uppercase copyright">Financial Vision &#169;<span class="copyright-year"></span> | <a href="privacy.html">Privacy Policy</a> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板">网站模板</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>