<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Header variant 3</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CLato:400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body> 
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header bg-image-right full-height">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-variant-3 rd-navbar-index" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-lg-stick-up-offset="67px">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img class="img-responsive" alt="" width="284" height="69" src="images/logo.png"></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="./">Home</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Header style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="header-variant.html">Header style 1</a></li>
                          <li><a href="header-variant-1.html">Header style 2</a></li>
                          <li><a href="header-variant-2.html">Header style 3</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Footer style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="footer-variant.html">Footer style 1</a></li>
                          <li><a href="footer-variant-1.html">Footer style 2</a></li>
                          <li><a href="footer-variant-2.html">Footer style 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="about.html">About<span class="rd-navbar-fullwidth-hidden"> Me</span></a></li>
                  <li><a href="planning.html">Financial Planning</a></li>
                  <li><a href="help.html">Investment Help</a></li>
                  <li><a href="advice.html">Advice</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Sidebar style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="advice-left.html">Left sidebar</a></li>
                          <li><a href="advice-right.html">Right sidebar</a></li>
                          <li><a href="advice-sidebar-none.html">Sidebar none</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Post style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-single-post.html">Single Post</a></li>
                          <li><a href="blog-single-post-video.html">Video post</a></li>
                          <li><a href="blog-single-post-audio.html">Audio post</a></li>
                          <li><a href="blog-single-post-gallery.html">Gallery post</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="contacts.html">Contacts</a></li>
                  <li class="rd-navbar-cta"><a class="btn btn-primary" href="consultation.html">Free Consultation</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="container section-xxl-top-110 section-72 section-md-bottom-110">
          <div class="row">
            <div class="col-lg-5 col-xl-3 text-lg-left">
              <h2 class="font-weight-bold">Because Money Doesn’t Come <br class="d-none d-xl-block"><span class="text-nowrap">With Instructions</span></h2>
              <p class="lead">Sure, dealing with your finances can be intimidating.</p>
              <p>That's why we take the time to listen to you, learn your goals and then create your plan using John Doe’s philosophies that reflect the latest academic research.</p>
            </div>
          </div>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="section-72 section-xl-bottom-110 section-top-90 text-lg-left">
          <div class="container">
            <div class="row justify-content-sm-center">
              <div class="col-lg-1 d-none d-lg-block">
                <hr class="divider">
              </div>
              <div class="col-lg-3 col-md-10 post-blog-preview">
                <h4>Saving Solutions</h4>
                <p class="post-blog-preview-description text-spruce">
                  There is a variety of saving plans which can be tailored to your needs, including:
                  <br>
                  <br>
                  Tax Exempt Savings
                  <br class=.d-none d-lg-block">
                  Regular Savings..
                </p><a class="btn btn-default btn-secondary" href="planning.html">Learn more</a>
              </div>
              <div class="col-lg-1">
                <hr class="divider">
              </div>
              <div class="col-lg-3 col-md-10 post-blog-preview offset-top-32 offset-lg-top-0">
                <h4>Tax Planning</h4>
                <p class="post-blog-preview-description text-spruce">Inheritance tax planning is an important element of your wealth management strategy, as it allows you to continue to help your loved ones after you’re gone.</p><a class="btn btn-default btn-secondary" href="planning.html">Learn more</a>
              </div>
              <div class="col-lg-1">
                <hr class="divider">
              </div>
              <div class="col-lg-3 col-md-10 post-blog-preview offset-top-32 offset-lg-top-0">
                <h4>University Fee Planning</h4>
                <p class="post-blog-preview-description text-spruce">We all want our children to have good prospects, which is why education fees planning is a vital wealth management matter that shouldn’t be overlooked.</p><a class="btn btn-default btn-secondary" href="planning.html">Learn more</a>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider">
        <section class="section-110">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 offset-xxl-1 order-lg-1"><img class="img-responsive" src="images/index-02.png" width="670" height="463" alt=""></div>
              <div class="align-self-lg-center col-lg-4 text-lg-left">
                <h1>About</h1>
                <hr class="divider divider-70 divider-md-left">
                <p class="lead">I am John Doe, a senior advisor for an independently owned financial planning company called Financial Vision.</p>
                <p>Financial Vision is an International Financial Planning company with offices in multiple jurisdictions over the world. Working with Financial Vision gives me the ability to advise international expatriates living in the middle east from where I live in USA.</p><a class="link" href="about.html">explore more</a>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider">
        <section class="section-110">
          <div class="container">
            <div class="row text-lg-left">
              <div class="col-lg-4 col-xl-3">
                <h1>Testimonials</h1>
              </div>
              <div class="col-lg-6 col-xl-5">
                <p class="lead">Read what my clients say about my level of service and the success that they've achieved</p>
              </div>
            </div>
            <!-- Owl Carousel-->
            <div class="text-left owl-carousel owl-carousel-flex" data-nav="true" data-md-items="2" data-lg-items="3" data-loop="true" data-drag="false" data-margin="30">
              <blockquote class="quote">
                <p>
                  <q>It is not every day that you come across a passionate and trustworthy financial advisor. John has encompassed that really well and has provided us with the helping hand to dream that much more and make that dream a possible reality. Thanks John!</q>
                </p>
                <p>
                  <cite><span class="text-shaft font-weight-bold">Johnson.M.J.</span><br>Director of "Financial Times"</cite>
                </p>
              </blockquote>
              <blockquote class="quote">
                <p>
                  <q>In just 2 very short meetings with John he managed to find the solution personally catered to my situation and expectations.<br><br>Punctual, well informed and very reliable.</q>
                </p>
                <p>
                  <cite><span class="text-shaft font-weight-bold">Smith.T.M.</span><br>Director at Risktec Solutions Ltd</cite>
                </p>
              </blockquote>
              <blockquote class="quote">
                <p>
                  <q>A very professional financial advisor, who is true to his word. John has demonstrated a high amount of integrity in the time I have known him, and he is fast to respond to my concerns. I feel that John is genuinely putting my financial gains before his own, a quality that comforts me in my investments.</q>
                </p>
                <p>
                  <cite><span class="text-shaft font-weight-bold">Snow.J.R.</span><br>Managing Director of BPW Global</cite>
                </p>
              </blockquote>
            </div>
          </div>
        </section>
        <hr class="divider">
        <section class="section-110 bg-gray-pseudo">
          <div class="container">
            <h1>More Than 100 Financial Planners, One Philosophy</h1>
            <div class="row justify-content-sm-center">
              <div class="col-lg-10">
                <!-- RD Video Player-->
                <div class="rd-video-player play-on-scroll" data-rd-video-path="video/video" data-rd-video-preview="images/index-04.jpg" data-rd-video-preload="false">
                  <div class="rd-video-wrap embed-responsive-16by9">
                    <div class="rd-video-preloader"></div>
                    <video preload="metadata"></video>
                    <div class="rd-video-preview"></div>
                    <div class="rd-video-controls">
                      <div class="rd-video-controls-buttons">
                        <!-- Play\Pause button--><a class="rd-video-play-pause mdi mdi-play" href="#"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-sm-center">
              <div class="col-lg-8 text-lg-left">
                <p class="lead">Every single one of our financial advisors receives rigorous training in Ric Edelman's philosophy, which is based on academic research<span class="text-gull"> (including that of a Nobel laureate in Economics) </span>and Behavioral Finance.</p>
                <p class="offset-top-22">All of our planners believe that everyone, rich or not so rich, deserves great financial advice and planning services. No matter which advisor you work with, you can be confident that they'll put YOUR BEST INTERESTS FIRST and that you are getting the best experience we have to offer.</p>
                <div class="text-center offset-top-50"><a class="btn-lg btn btn-primary" href="consultation.html">Get Your Free Financial Analysis</a></div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <footer class="page-footer text-lg-left">
        <section class="page-footer-subsection section-top-72 section-bottom-90">
          <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-between">
              <div class="col-md-8 col-xl-5 col-lg-6">
                <h1><span class="icon icon-lg fa-send-o"></span>Sign Up</h1>
                <p class="font-accent text-white">Get subscriber only insights & news <br class=.d-none d-lg-block"> delivered by John Doe</p>
                <!-- RD Mailform-->
                <form class="rd-mailform text-center offset-top-20 form-inline-flex d-sm-flex" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="fullwidth">
                    <div class="form-group">
                      <label class="form-label" for="contact-email">E-Mail</label>
                      <input class="form-control" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                  </div>
                  <button class="btn btn-primary offset-sm-left-10 offset-top-10 offset-sm-top-0" type="submit">Submit</button>
                </form>
              </div>
              <div class="offset-xxl-1 col-lg-6 offset-top-50 offset-lg-top-0">
                <h1><span class="icon icon-lg fa-envelope-o"></span>Contact Me</h1>
                <dl class="list-terms">
                  <dt>E-mail</dt>
                  <dd><a href="mailto:#">johndoe@demolink.org</a></dd>
                </dl>
                <dl class="list-terms">
                  <dt>Telephone</dt>
                  <dd><a href="callto:#">+1 959 603 6035</a></dd>
                </dl>
                <dl class="list-terms">
                  <dt>Address</dt>
                  <dd><a href="#">222 Fashion Lane, Ste. 207 Tustin, CA 92780</a></dd>
                </dl>
              </div>
            </div>
          </div>
        </section>
        <section class="section-50">
          <div class="container">
            <div class="row row-30">
              <div class="col-md-6 col-lg-3 offset-xl-1 order-lg-1">
                <h4>Financial Planning</h4>
                <ul class="list">
                  <li><a href="planning.html">Investment Management</a></li>
                  <li><a href="planning.html">Retirement Planning</a></li>
                  <li><a href="planning.html">Long Term Care</a></li>
                  <li><a href="planning.html">Estate Planning</a></li>
                  <li><a href="planning.html">Social Security</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-3 order-lg-1 offset-md-top-0">
                <h4>Investment Help</h4>
                <ul class="list">
                  <li><a href="help.html">Wealth Management</a></li>
                  <li><a href="help.html">Retirement & College</a></li>
                  <li><a href="help.html">Savings Business Owners</a></li>
                  <li><a href="help.html">Insurance & Annuities</a></li>
                  <li><a href="help.html">Cash & Credit</a></li>
                  <li><a href="help.html">Stocks, Bonds & Mutual Funds</a></li>
                </ul>
              </div>
              <div class="col-lg-5">
                <p class="small">
                  Investments products and services available only to residents of : Arizona - AZ, California - CA, Hawaii - HI, Idaho - ID, New Jersey - NJ, New Mexico - NM, Oregon - OR, Washington - WA Securities and Investment Advice through John Doe & Company, A registered broker/dealer and Investment Advisor, Member FINRA and SIPC. 101 Serious Road, Fincity, FL 32707 Tel: (959) 603- 6035.| John Doe Financial Advisors is not an affiliate of Wall Street Company.
                  <br><br>
                  All other trademarks and copyrights are the properties of their respective holders.
                  This website provides information related to the subjects covered. Before making any financial or legal decisions, a professional should be consulted.
                  
                </p>
                <div class="text-uppercase copyright">Financial Vision &#169;<span class="copyright-year"></span> | <a href="privacy.html">Privacy Policy</a> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板">网站模板</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>