<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Investment Help</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CLato:400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body> 
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-lg-stick-up-offset="67px">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
            <div class="rd-navbar-collapse rd-navbar-top-panel">
              <ul class="list-inline">
                <li><a class="fa-twitter icon icon-dark icon-xs" href="#"></a></li>
                <li><a class="fa-facebook-square icon icon-dark icon-xs" href="#"></a></li>
                <li><a class="fa-linkedin icon icon-dark icon-xs" href="#"></a></li>
                <li><a class="fa-google-plus-square icon icon-dark icon-xs" href="#"></a></li>
              </ul>
              <p class="offset-none font-weight-bold"><a href="callto:#"><span class="icon text-white fa-phone icon-xs"></span>+1 959 603 6035</a></p>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img class="img-responsive" alt="" width="284" height="69" src="images/logo.png"></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="./">Home</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Header style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="header-variant.html">Header style 1</a></li>
                          <li><a href="header-variant-1.html">Header style 2</a></li>
                          <li><a href="header-variant-2.html">Header style 3</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Footer style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="footer-variant.html">Footer style 1</a></li>
                          <li><a href="footer-variant-1.html">Footer style 2</a></li>
                          <li><a href="footer-variant-2.html">Footer style 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="about.html">About<span class="rd-navbar-fullwidth-hidden"> Me</span></a></li>
                  <li><a href="planning.html">Financial Planning</a></li>
                  <li class="active"><a href="help.html">Investment Help</a></li>
                  <li><a href="advice.html">Advice</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Sidebar style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="advice-left.html">Left sidebar</a></li>
                          <li><a href="advice-right.html">Right sidebar</a></li>
                          <li><a href="advice-sidebar-none.html">Sidebar none</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Post style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-single-post.html">Single Post</a></li>
                          <li><a href="blog-single-post-video.html">Video post</a></li>
                          <li><a href="blog-single-post-audio.html">Audio post</a></li>
                          <li><a href="blog-single-post-gallery.html">Gallery post</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="contacts.html">Contacts</a></li>
                  <li class="rd-navbar-cta"><a class="btn btn-primary" href="consultation.html">Free Consultation</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="bg-mine">
          <div class="container">
            <ol class="breadcrumb">
              <li><a href="./">Home</a></li>
              <li class="active">Investment Help</li>
            </ol>
          </div>
        </section>
        <section class="overflow-hidden">
          <div class="container text-lg-left">
            <div class="responsive-tabs">
              <div class="row">
                <!-- Responsive-tabs-->
                <div class="col-lg-3 relative">
                  <ul class="resp-tabs-list">
                    <li><span class="text-middle">Wealth Management</span></li>
                    <li><span class="text-middle">Retirement & College Savings</span></li>
                    <li><span class="text-middle">Business Owners</span></li>
                    <li><span class="text-middle">Insurance & Annuities</span></li>
                    <li><span class="text-middle">Cash & Credit</span></li>
                    <li><span class="text-middle">Stocks, Bonds & Mutual Funds</span></li>
                  </ul>
                </div>
                <div class="col-lg-1 d-none d-lg-flex"></div>
                <div class="col-lg-8 offset-top-0">
                  <div class="resp-tabs-container">
                    <div>
                      <h1>Wealth Management</h1>
                      <p class="text-justify text-spruce offset-top-22">You have goals for your future; probably more than one. They might be about the lifestyle you hope to lead in retirement. Or a child’s education. There might be a charitable cause you hope to support more fully, or a hobby you’ve yearned to pursue. Or perhaps you’re just not quite able to articulate your goal. But we bet you have one, nevertheless. Understanding what’s really important to you is at the heart of how we’ll begin to build the kind of relationship you expect. Step by step, in a way that is very personal, very open and very focused on your hopes and dreams and goals.</p>
                      <h4 class="offset-top-32">Wealth management is very straightforward.</h4>
                      <div class="row offset-top-22">
                        <div class="col-md-6">
                          <p class="text-justify text-spruce">
                            From the affluent individual’s perspective, wealth management is simply the science of solving/enhancing his or her financial situation. From the financial advisor’s perspective, wealth management is the ability of an advisor or advisory team to deliver a full range of financial services and products to an affluent client in a consultative way.<br><br>
                            Theoretically, a wealth manager can provide every single financial product in existence. In reality most wealth managers specialize in services and products they feel most comfortable with.
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p class="text-justify text-spruce">
                            A further defining quality of wealth management is that it is delivered in a consultative manner. By being consultative, wealth managers are truly client-centered. A good wealth manager meets a client without any presupposition about what financial products are appropriate for that affluent individual..<br><br>
                            While it is common for a wealthy individual to be sitting with a wealth manager to address a particular need (investment management, say), the consultative wealth manager’s overriding objective is to understand the person and find out what’s important and why. Then the wealth manager is able to bring in the appropriate experts and provide the appropriate financial products.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div>
                      <h1>Retirement & College Savings</h1>
                      <p class="text-justify text-spruce offset-top-22">
                        You’re cruising along at 35,000 feet when the cabin suddenly loses pressure. Yellow oxygen masks deploy from the ceiling, begging to be used. You start reaching for the lifeline but your child sitting next to you screams for help. What’s your next move?<br><br>
                        If you follow the preflight safety instructions, you put on your own mask before assisting others, no questions asked. After all, it’s difficult to help others if you don’t help yourself first. This seems straightforward when we’re flying through the sky, but a recent report from T. Rowe Price reveals that it becomes cloudy when we’re on the ground, handling money, as an alarming number of parents are putting their own retirements at risk in order to fund their children’s college expenses.<br><br>
                        Nine out of 10 parents believe their children will attend college, and since college typically arrives before retirement, the majority of parents feel like they should put money toward that first and save for retirement after. In fact, 49% of parents are willing to delay their own retirements to pay for their children’s education, while 74% feel guilty they won’t be able to provide more financial assistance. Overall, 63% are concerned about their children having enough financial resources to attend college, the most commonly cited concern besides health care costs.<br><br>
                        Naturally, parents want to take care of their children first, but past experiences may be hindering the financial decision-making process. The report finds that 63% of parents believe they took on too much student debt themselves, and 79% want their children to worry less about money while in college than they did. Just over half of the 2,000 American parents in the study say they would take on at least $25,000 in debt to fund their children’s education, with 9% saying “whatever it takes.” Yet 66% of parents are still paying down their own student loans.<br><br>
                        Finding a balance with your money is a crucial part of personal finance. Saving for retirement does not have to be mutually exclusive from saving for college.<br><br>
                      </p>
                    </div>
                    <div>
                      <h1>Business Owners</h1>
                      <p class="text-justify text-spruce offset-top-22">
                        Owning your own business is a dream for many. But managing your own business takes a lot more than hard work. You need a financial plan — one that addresses financial needs and products for every stage of your business life cycle and that takes into account your personal financial goals and dreams.
                        
                        <br><br>Managing taxes
                        <br>As your goals and financial situation change, there may be new opportunities to reduce your taxable income. I`ll help you find them.
                        
                        <br><br>Retirement plans and other employee benefits
                        <br>The right retirement plan can provide tax benefits and help you attract and keep high-quality employees. I`ll help you find it.
                        
                        <br><br>Business valuation
                        <br>Your business is important to you, but do you know how much it’s really worth?
                        <br>I’ll develop a clear picture of your business’s value and integrate it with your personal financial situation – so you’ll have the comprehensive view you need to plan for a successful future.
                        
                        <br><br>Business succession planning
                        <br>How will you transfer your business when it’s time to move on? I`ll help you plan for a smooth transition.
                        
                        <br><br>Business protection
                        <br>Protecting your business means being prepared for unexpected situations. Together, we’ll create a plan to help guard against financial loses resulting from employee departures, disabilities or other disruptions.
                      </p>
                    </div>
                    <div>
                      <h1>Insurance & Annuities</h1>
                      <p class="offset-top-22 text-justify text-spruce">Annuities are financial tools that can be used for receiving potential guaranteed income in retirement. Various types of annuities let you choose which benefits matter most and how often you are paid. All are tax-friendly, meaning you don’t pay taxes on them until you receive your annuity or income payments, which are usually when you’re in retirement and could be taxed at a lower rate. Allstate offers a variety of solutions from leading financial service providers, so you have many options when deciding what type of annuity is right for you.</p>
                      <h4 class="offset-top-50">How Annuities Work:</h4>
                      <ul class="offset-top-22 list-marked text-left">
                        <li>Learning more about annuities can help you understand what options are available to you. An Allstate personal financial representative can answer questions you have about the following features:</li>
                        <li>Lasting income: An annuity is a contract between you and an insurance company. They invest your money and provide a regular source of income that you can receive a paycheck for life, depending on the contract selections you make.</li>
                        <li>Tax advantages: Your earnings are not taxed until withdrawn. This means that when you typically start receiving your annuity or income payments, they could be taxed at a lower rate, making annuities an attractive savings option for retirement.1</li>
                        <li>Variable payment periods: You can structure your annuity so that you can get a paycheck for life or for a set period of time. With some annuities, income can be extended to your spouse after you die.</li>
                      </ul>
                    </div>
                    <div>
                      <h1>Cash & Credit</h1>
                      <p class="offset-top-22 text-justify text-spruce">
                        In my investment advisory programs, you generally pay an asset-based fee, charged quarterly in advance, based on the total value of the assets in your account at the end of the previous quarter. Unless otherwise noted, the asset-based fee generally covers investment consulting and certain brokerage services provided by Financial Vision, as well as the external or internal investment management fees. However, the asset-based fee does not cover expenses paid within any exchange-traded funds or mutual funds you may own.
                        <br><br>You may select from our comprehensive suite of managed account programs, which are designed for various levels of investment experience and sophistication, with asset minimums that start as low as $5,000. Depending upon the program, your investment advisory account may include stocks, bonds, money market funds, mutual funds, exchange-traded funds and cash. You can establish investment advisory relationships for your retirement or trust accounts in addition to your personal investment accounts. If you select one of our Non-Discretionary advisory programs, your Financial Advisor will provide investment advice, but you will retain decision-making authority over your account.
                        <br><br>Financial Vision offers financial planning services through LifeView® Advisor and LifeView® Personal Wealth Advisor. Using these tools, your Financial Advisor can assist you with the evaluation of your financial goals and help you develop an investment strategy to meet goals such as planning for retirement, funding an education and insurance planning. FAs have the option to charge a minimum of $250 and up to a maximum of $5,000 per client.
                        <br><br>FAs who hold one of the following professional designations: Certified Financial Planner (CFP), Chartered Financial Analyst (CFA), Chartered Personal Wealth Advisor (CPWA), Chartered Financial Consultant (ChFC), Certified Trust and Financial Advisor (CTFA) or Family Wealth Director (FWD), may charge up to a maximum of $10,000 if assets in a LifeView Plan are over $5MM.
                      </p>
                    </div>
                    <div>
                      <h1>Stocks, Bonds & Mutual Funds</h1>
                      <p class="offset-top-22 text-justify text-spruce">
                        Fresh off Wall Street’s worst week in four years – one that saw the Dow Jones industrial average lose 10 percent of its value and the Standard & Poor’s 500 index slip below the magical 2,000 barrier – I have two words of advice for gun-shy investors.
                        <br><br>Don’t panic.
                        <br><br><br>“We’re starting to get some calls, as should be expected,” says Erik Jensen, president and founder of Jensen Wealth Advisors in Palm Desert, California, and a registered principal with LPL Financial. “We empathize with them; nobody likes seeing drops like last week. However, we recommend they keep a long-term perspective, understanding that corrections are the norm, not a calamity.”
                        <br><br>Sure, last week may have felt like a calamity if you were watching your portfolio shrink by the hour. But there were tell-tale signs – after riding an extraordinary bullish market since 2009, Wall Street had been essentially trading sideways until this month. Then the market’s softening became a full-blown meltdown Thursday and Friday.
                        <br><br>Wall Street’s darling stocks – the tech sector – were among the hardest hit. Netflix (ticker: NFLX) lost nearly 16 percent; Apple (AAPL) and Facebook (FB) were both down nearly 9 percent and Microsoft Corp. (MSFT) fell 7.7 percent.
                        <br><br>“While investors should avoid panicking over short-term movements in the value of their long-term investments, the recent volatility ought to serve as a wake-up call to re-examine risk and stress-test your portfolio against the possibility of further declines,” says Kurt Rossi, president of Independent Wealth Management in Wall, New Jersey. “Be especially careful if you were like many investors that were pushed into taking on higher risk investments due to the low-yield environment. Consider reviewing the compatibility of your portfolio and your financial planning goals, making changes to your investments if the two are out of alignment.”
                        
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="divider divider-wild-sand divider-fullwidth divider-grab-left">
            <div class="row justify-content-sm-end offset-top-0">
              <div class="col-lg-8 section-top-72 section-bottom-90">
                <h1>Visualise Your Goals & Make Your Dream Come True!</h1>
                <div class="offset-top-50 row offset-top-32 text-center">
                  <div class="col-sm-6 divider-border-right">
                    <h4>College Things</h4>
                    <!-- Progress Bar-->
                    <div class="progress-bar-outer">
                      <div class="progress-bar progress-bar-radial progress-bar-primary" data-trail="25" data-value="75" data-stroke="25" data-easing="linear" data-counter="true" data-duration="1000"></div>
                      <p class="text-spruce">75% of parents believe that their child will attend college</p>
                    </div>
                  </div>
                  <div class="col-sm-6 offset-top-50 offset-sm-top-0">
                    <h4>Life Insurance</h4>
                    <!-- Progress Bar-->
                    <div class="progress-bar-outer">
                      <div class="progress-bar progress-bar-radial progress-bar-primary" data-trail="25" data-value="80" data-stroke="25" data-easing="linear" data-counter="true" data-duration="1000"></div>
                      <p class="text-spruce">80% of consumers think life insurance costs more than it does</p>
                    </div>
                  </div>
                </div>
                <div class="text-center offset-top-10"><a class="offset-top-50 btn btn-primary btn-lg" href="consultation.html">Get Started Today!</a></div>
                <div class="section-top-90">
                  <hr class="divider divider-wild-sand divider-fullwidth divider-grab-left">
                  <div class="row">
                    <div class="col-lg-6">
                      <h1>At Financial Vision<br class="d-none d-lg-block"> I Put the <br class="d-none d-lg-block">Client First
                      </h1>
                      <p class="inset-xl-right-100 offset-top-42 text-justify text-spruce">My mission is to make professional financial advice and investment services accessible to everyone.</p>
                    </div>
                    <div class="col-lg-6">
                      <p class="text-justify text-spruce">
                        I believe that by putting my clients first, explaining complex financial topics in easy to understand language, and helping those in need, I can achieve that goal.
                        <br><br>Financial Vision is one of the largest independent financial planning firms in the nation, and I, John Doe, as a founder has been three times ranked the #1 Independent Financial Advisor in the nation by Barron's. With more than 28,000 clients, I am on my way to achieve my mission.
                      </p><a class="offset-top-22 btn btn-primary btn-lg" href="consultation.html">Discuss Your Case</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <footer class="page-footer text-lg-left">
        <section class="page-footer-subsection section-top-72 section-bottom-90">
          <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-between">
              <div class="col-md-8 col-xl-5 col-lg-6">
                <h1><span class="icon icon-lg fa-send-o"></span>Sign Up</h1>
                <p class="font-accent text-white">Get subscriber only insights & news <br class=.d-none d-lg-block"> delivered by John Doe</p>
                <!-- RD Mailform-->
                <form class="rd-mailform text-center offset-top-20 form-inline-flex d-sm-flex" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="fullwidth">
                    <div class="form-group">
                      <label class="form-label" for="contact-email">E-Mail</label>
                      <input class="form-control" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                  </div>
                  <button class="btn btn-primary offset-sm-left-10 offset-top-10 offset-sm-top-0" type="submit">Submit</button>
                </form>
              </div>
              <div class="offset-xxl-1 col-lg-6 offset-top-50 offset-lg-top-0">
                <h1><span class="icon icon-lg fa-envelope-o"></span>Contact Me</h1>
                <dl class="list-terms">
                  <dt>E-mail</dt>
                  <dd><a href="mailto:#">johndoe@demolink.org</a></dd>
                </dl>
                <dl class="list-terms">
                  <dt>Telephone</dt>
                  <dd><a href="callto:#">+1 959 603 6035</a></dd>
                </dl>
                <dl class="list-terms">
                  <dt>Address</dt>
                  <dd><a href="#">222 Fashion Lane, Ste. 207 Tustin, CA 92780</a></dd>
                </dl>
              </div>
            </div>
          </div>
        </section>
        <section class="section-50">
          <div class="container">
            <div class="row row-30">
              <div class="col-md-6 col-lg-3 offset-xl-1 order-lg-1">
                <h4>Financial Planning</h4>
                <ul class="list">
                  <li><a href="planning.html">Investment Management</a></li>
                  <li><a href="planning.html">Retirement Planning</a></li>
                  <li><a href="planning.html">Long Term Care</a></li>
                  <li><a href="planning.html">Estate Planning</a></li>
                  <li><a href="planning.html">Social Security</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-3 order-lg-1 offset-md-top-0">
                <h4>Investment Help</h4>
                <ul class="list">
                  <li><a href="help.html">Wealth Management</a></li>
                  <li><a href="help.html">Retirement & College</a></li>
                  <li><a href="help.html">Savings Business Owners</a></li>
                  <li><a href="help.html">Insurance & Annuities</a></li>
                  <li><a href="help.html">Cash & Credit</a></li>
                  <li><a href="help.html">Stocks, Bonds & Mutual Funds</a></li>
                </ul>
              </div>
              <div class="col-lg-5">
                <p class="small">
                  Investments products and services available only to residents of : Arizona - AZ, California - CA, Hawaii - HI, Idaho - ID, New Jersey - NJ, New Mexico - NM, Oregon - OR, Washington - WA Securities and Investment Advice through John Doe & Company, A registered broker/dealer and Investment Advisor, Member FINRA and SIPC. 101 Serious Road, Fincity, FL 32707 Tel: (959) 603- 6035.| John Doe Financial Advisors is not an affiliate of Wall Street Company.
                  <br><br>
                  All other trademarks and copyrights are the properties of their respective holders.
                  This website provides information related to the subjects covered. Before making any financial or legal decisions, a professional should be consulted.
                  
                </p>
                <div class="text-uppercase copyright">Financial Vision &#169;<span class="copyright-year"></span> | <a href="privacy.html">Privacy Policy</a> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板">网站模板</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>