<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Financial Planning</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CLato:400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body> 
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-lg-stick-up-offset="67px">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
            <div class="rd-navbar-collapse rd-navbar-top-panel">
              <ul class="list-inline">
                <li><a class="fa-twitter icon icon-dark icon-xs" href="#"></a></li>
                <li><a class="fa-facebook-square icon icon-dark icon-xs" href="#"></a></li>
                <li><a class="fa-linkedin icon icon-dark icon-xs" href="#"></a></li>
                <li><a class="fa-google-plus-square icon icon-dark icon-xs" href="#"></a></li>
              </ul>
              <p class="offset-none font-weight-bold"><a href="callto:#"><span class="icon text-white fa-phone icon-xs"></span>+1 959 603 6035</a></p>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img class="img-responsive" alt="" width="284" height="69" src="images/logo.png"></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="./">Home</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Header style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="header-variant.html">Header style 1</a></li>
                          <li><a href="header-variant-1.html">Header style 2</a></li>
                          <li><a href="header-variant-2.html">Header style 3</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Footer style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="footer-variant.html">Footer style 1</a></li>
                          <li><a href="footer-variant-1.html">Footer style 2</a></li>
                          <li><a href="footer-variant-2.html">Footer style 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="about.html">About<span class="rd-navbar-fullwidth-hidden"> Me</span></a></li>
                  <li class="active"><a href="planning.html">Financial Planning</a></li>
                  <li><a href="help.html">Investment Help</a></li>
                  <li><a href="advice.html">Advice</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Sidebar style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="advice-left.html">Left sidebar</a></li>
                          <li><a href="advice-right.html">Right sidebar</a></li>
                          <li><a href="advice-sidebar-none.html">Sidebar none</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Post style</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="blog-single-post.html">Single Post</a></li>
                          <li><a href="blog-single-post-video.html">Video post</a></li>
                          <li><a href="blog-single-post-audio.html">Audio post</a></li>
                          <li><a href="blog-single-post-gallery.html">Gallery post</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="contacts.html">Contacts</a></li>
                  <li class="rd-navbar-cta"><a class="btn btn-primary" href="consultation.html">Free Consultation</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="bg-mine">
          <div class="container">
            <ol class="breadcrumb">
              <li><a href="./">Home</a></li>
              <li class="active">Financial Planning</li>
            </ol>
          </div>
        </section>
        <section class="overflow-hidden">
          <div class="container text-lg-left">
            <div class="responsive-tabs">
              <div class="row">
                <!-- Responsive-tabs-->
                <div class="col-lg-3 relative">
                  <ul class="resp-tabs-list">
                    <li><span class="text-middle">Investment Management</span></li>
                    <li><span class="text-middle">Retirement Planning</span></li>
                    <li><span class="text-middle">Long Term Care</span></li>
                    <li><span class="text-middle">Estate Planning</span></li>
                    <li><span class="text-middle">Social Security</span></li>
                  </ul>
                </div>
                <div class="col-lg-1 d-none d-lg-flex"></div>
                <div class="col-lg-8 offset-top-0">
                  <div class="resp-tabs-container">
                    <div>
                      <h1>Investment Management</h1>
                      <p class="text-justify text-spruce offset-top-22">I am working with clients, from individual investors to large financial institutions, to develop advanced portfolio management strategies to help them achieve specific goals for their own or their institution's financial future.</p>
                      <p class="text-justify text-spruce offset-top-42 font-accent">How I organize my work:</p>
                      <ul class="text-justify text-left list-marked offset-top-22">
                        <li>Help clients navigate today’s evolving markets and identify the opportunities that shape their portfolios and long-term investment goals</li>
                        <li>Develop and manage customized solutions for the world’s leading pension plans, sovereign wealth funds, central banks, insurance companies, financial institutions, endowments, foundations, individuals and family offices</li>
                        <li>Advise clients on how to allocate assets to meet unique objectives, addressing the dynamic market environment</li>
                        <li>Research market ideas and build investment portfolios across a broad range of asset classes</li>
                      </ul>
                      <p class="text-justify text-spruce offset-top-42">
                        While I have a variety of services for my clients, many are looking for someone to manage their investments (whether these are retirement funds, joint accounts or trusts).
                        <br><br>
                        I review each client’s goals, investment experience and risk tolerance, and determine a financial investment plan best suited for that client. To meet my clients' needs I use a variety of methods to properly manage your assets.
                        <br><br>
                        A big piece of this process I call "multi-dimensional diversification."  This involves multiple asset classes, multiple management styles at both strategic and tactical levels, and often multiple managers.
                      </p>
                    </div>
                    <div>
                      <h1>Retirement Planning</h1>
                      <p class="text-justify text-spruce offset-top-22">
                        It’s not going to be your parents’ retirement – rewarded at 65 with a gold watch, a guaranteed pension, and health insurance for life. For many peoples, retiring in this new century is a mystery. Earlier generations of workers could rely on employer-provided pensions, but now many workers will need to rely on their own work-related and personal savings plus Social Security benefits. These savings have to last longer because peoples are living longer, often into their eighties and nineties.
                        <br><br>
                        If you are one of those people who want to plan – and are about 10 to 15 years from the day you retire – this booklet is for you. Today’s (and tomorrow’s) retirees may well have a new kind of retirement. With a longer and healthier life span, bikes, boats, planes, and RVs may be part of your life, because you are more likely than previous generations to be an active older American.
                        <br><br>
                        Retirement can be a time to explore new possibilities or to slow down and fully enjoy the life you spent your working years building—or it can be a bit of both. Regardless of your path, you want to ensure that this phase is as financially secure and satisfying as it can be—a process that ideally begins with your first job and continues even after retirement begins.
                        <br><br>
                        Here, I can take you expert guidance on all the elements that contribute to a good retirement: saving and investing; planning; maintaining your health; identifying activities and work to suit you; and, of course, being a savvy consumer.
                      </p>
                    </div>
                    <div>
                      <h1>Long Term Care</h1>
                      <p class="text-justify text-spruce offset-top-22">
                        Long-term care involves a variety of services designed to meet a person’s health or personal care needs during a short or long period of time. These services help people live as independently and safely as possible when they can no longer perform everyday activities on their own.
                        <br><br>
                        Most Care Provided at Home
                        <br><br>
                        Long-term care is provided in different places by different caregivers, depending on a person’s needs. Most long-term care is provided at home by unpaid family members and friends. It can also be given in a facility such as a nursing home or in the community, for example, in an adult day care center.
                        <br><br>
                        The most common type of long-term care is personal care — help with everyday activities, also called “activities of daily living.” These activities include bathing, dressing, grooming, using the toilet, eating, and moving around — for example, getting out of bed and into a chair.
                        <br><br>
                        Long-term care also includes community services such as meals, adult day care, and transportation services. These services may be provided free or for a fee.
                        <br><br>
                        Long-term care insurance is a type of policy which is designed to provide for the financial welfare of an individual beyond a certain period. An example of this can be seen when a common disability package is replaced with its long-term counterpart. Such a plan is commonly seen with individuals who may have chronic illnesses (such as COPD or emphysema) and those who have become physically handicapped. This insurance policy exists in the United States, Canada and the United Kingdom. It can be known by its acronym LTCI or simply as LTI (Long-Term Insurance).
                      </p>
                    </div>
                    <div>
                      <h1>Estate Planning</h1>
                      <p class="offset-top-22 text-justify text-spruce">
                        Many people believe they don’t need estate planning because they think they don’t have an estate. Or they think the value of their estate is not great enough to cause estate taxation, so what’s the point?
                        <br><br>
                        With few exceptions, everyone has an estate — even the young child with a custodial account in his name and the granddaughter who received a lovely piece of jewelry for her 16th birthday.
                        <br><br>
                        Bottom line: If you own something of value that you would pass on to someone else upon your death, you have an estate. Whether you know it or not, you also have an estate plan. The state has one for you free of charge (well, sort of) if you don’t get around to writing a will or designing a plan of your own.
                        <br><br>
                        Broadly speaking, an estate plan encompasses the accumulation, conservation and distribution of an estate. A good plan will enhance and maintain the financial security of individuals and their families.
                        <br><br>
                        When you’re developing a plan for your estate, it’s important to understand your entire financial picture. That’s where I`m come in. Working with your tax and legal advisors, I will help coordinate your investment strategies to help ensure that your plan reflects your wishes for your legacy.
                        <br><br>
                        Complete the form if you’d like to receive my three estate planning guides, which include information about the importance of having certain estate documents, maintaining beneficiary designations, and organizing your financial documents.
                      </p>
                    </div>
                    <div>
                      <h1>Social Security</h1>
                      <p class="offset-top-22 text-justify text-spruce">
                        Social Security benefits are one of the most important parts of any retirement portfolio. A poor claiming decision can cost tens-of-thousands of dollars, while making the right decision can contribute significantly to one’s financial security.
                        <br><br>
                        However, Social Security is a complex system. I provide the tools to help you make the best Social Security planning. My reports present not only the optimal strategy, they also provide comparisons to other strategies that may work better when your entire financial situation is taken into consideration. My reports also help you advise about little-known Social Security strategies such as “file and suspend” and the restricted application, “free spousal” strategy.
                        <br><br>
                        Your primary insurance amount, or PIA — the benefit you would get at full retirement age — determines the size of your monthly retirement check. According to the Social Security Administration’s website, the PIA is based on the Average Indexed Monthly Earnings, or AIME, as applied to an inflation-adjusted formula. The PIA is then adjusted for whether you take retirement before or after your normal retirement age — 66 for those now reaching retirement age, but gradually adjusted to age 67 for those born after 1960.
                        <br><br>
                        You can begin drawing reduced Social Security as early as 62. For every month you delay after reaching full retirement age, up to age 70, the monthly benefit increases.
                        <br><br>
                        According to a 2010 report of the Senate Special Committee on Aging, for someone with an AIME of $5,000 in 2010, the PIA would total $1,971.
                        <br><br>
                        In keeping with the original intent behind Social Security — a way to lift seniors out of poverty — lower-wage earners get a higher proportion of their earnings than higher-wage earners. The maximum monthly benefit that can be received in 2014 is $2,642 for a worker retiring at full retirement age.
                        
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-sm-end offset-top-0">
              <div class="col-lg-8">
                <hr class="divider divider-wild-sand divider-fullwidth divider-grab-left">
                <div class="section-72">
                  <h1>Frequently Asked Questions</h1>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="block-content text-justify">
                        <div class="block-content-title">How to Switch Banks?</div>
                        <p class="block-content-descr">If you’re going to write checks or use online bill pay, start writing checks from the new account and fund those payments by transferring money from your old account.</p>
                      </div>
                    </div>
                    <div class="col-md-6 offset-top-50 offset-md-top-0">
                      <div class="block-content text-justify">
                        <div class="block-content-title">Why should I spend money on a financial advisor?</div>
                        <p class="block-content-descr">Most commonly, individuals seek the help of a financial advisor for retirement planning. But they can do much more than that. You can get help with college savings, work on household finances and even get out of debt with the help of a financial advisor.</p>
                      </div>
                    </div>
                    <div class="col-md-6 offset-top-50">
                      <div class="block-content text-justify">
                        <div class="block-content-title">Can I get help with my credit card debts from a financial advisor?</div>
                        <p class="block-content-descr">
                          Absolutely. Clients can work with a licensed financial advisor to pay off their debts and get back on track financially.
                          <br><br>
                          Financial advisors have access to programs most individuals can't get into on their own, and they have connections in the financial industry most of us simply don't have.
                          
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6 offset-top-50">
                      <div class="block-content text-justify">
                        <div class="block-content-title">I am already in debt. How can I afford a financial advisor?</div>
                        <p class="block-content-descr">The help of a financial advisor may be less expensive than you might think. Depending on the help you are looking for, you could be looking at a fee only situation or commission based pricing.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="divider divider-wild-sand divider-fullwidth divider-grab-left">
                <div class="row offset-top-0">
                  <div class="section-72 col-lg-5 text-spruce">
                    <h1>Possible Risks</h1>
                    <p class="inset-lg-right-34 text-justify offset-top-42"><span class="font-weight-bold">Market risk </span>, or “principal risk” is the chance that a downturn (or a bad investment) chews up your money. It’s there for both stocks and bonds — when interest rates rise, bondholders will see the market value of their paper shrink — and for most people it’s the big bugaboo.</p>
                    <p class="offset-top-22 inset-lg-right-34 text-justify"> <span class="font-weight-bold">Inflation or purchasing-power risk </span> for most people is the “risk of avoiding risk” — the opposite end of the spectrum from market risk — the possibility that you are too conservative and your money can’t grow fast enough to keep pace with inflation</p>
                  </div>
                  <div class="section-72 offset-xl-1 col-lg-6 bg-dark-md-right">
                    <h1>I Will help you to understand:</h1>
                    <ul class="text-left inset-lg-right-55 offset-top-42 list-marked list-marked-sm">
                      <li>Retirement Financial Planning with Wealth Creation</li>
                      <li>Wealth Creation</li>
                      <li>Asset Protection</li>
                      <li>Investing for Retirement with Self Managed Superannuation Fund (SMSFs)</li>
                      <li>And more other instruments</li>
                    </ul>
                    <p class="font-accent">To find out more please download:</p>
                    <div class="offset-top-32">
                      <div class="element-groups-10"><a class="btn btn-primary" href="#">Our Free E-book</a><a class="btn btn-primary" href="consultation.html">Get Free Consultation</a></div>
                    </div>
                  </div>
                </div>
                <hr class="divider divider-wild-sand divider-fullwidth divider-grab-left">
                <div class="row offset-top-0 section-72 section-xxl-bottom-150">
                  <div class="col-lg-11">
                    <h1>Let`s start planning your financial future today</h1>
                    <ol class="list-index offset-top-50 text-justify">
                      <li>
                        <div class="list-index-heading">
                          <hr class="d-none d-lg-flex divider divider-40">
                          <h4>Talk</h4>
                        </div>
                        <p>Actually, I'll listen as you explain your needs, dreams, and fears. Then I'll design a personalized plan that explains how we can help you reach your financial goals.</p>
                      </li>
                      <li>
                        <div class="list-index-heading">
                          <hr class="d-none d-lg-flex divider divider-40">
                          <h4>Act</h4>
                        </div>
                        <p>We work together to implement the plan. Then I keep you updated on where you stand and adapt the plan as life happens.</p>
                      </li>
                      <li>
                        <div class="list-index-heading">
                          <hr class="d-none d-lg-flex divider divider-40">
                          <h4>Relax</h4>
                        </div>
                        <p>I`m here for you whenever you need. Call me at any time, for any reason. Buying a new car? Ask my advice. Been offered a new job? Give me a call. Daughter got engaged? Congrats - I`ll help you figure out how to pay for the wedding!</p>
                      </li>
                    </ol>
                  </div>
                  <div class="offset-top-50 offset-xl-1 col-lg-5 text-center"><a class="btn btn-lg btn-primary" href="consultation.html">Get Started Today!</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <footer class="page-footer text-lg-left">
        <section class="page-footer-subsection section-top-72 section-bottom-90">
          <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-between">
              <div class="col-md-8 col-xl-5 col-lg-6">
                <h1><span class="icon icon-lg fa-send-o"></span>Sign Up</h1>
                <p class="font-accent text-white">Get subscriber only insights & news <br class=.d-none d-lg-block"> delivered by John Doe</p>
                <!-- RD Mailform-->
                <form class="rd-mailform text-center offset-top-20 form-inline-flex d-sm-flex" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="fullwidth">
                    <div class="form-group">
                      <label class="form-label" for="contact-email">E-Mail</label>
                      <input class="form-control" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                  </div>
                  <button class="btn btn-primary offset-sm-left-10 offset-top-10 offset-sm-top-0" type="submit">Submit</button>
                </form>
              </div>
              <div class="offset-xxl-1 col-lg-6 offset-top-50 offset-lg-top-0">
                <h1><span class="icon icon-lg fa-envelope-o"></span>Contact Me</h1>
                <dl class="list-terms">
                  <dt>E-mail</dt>
                  <dd><a href="mailto:#">johndoe@demolink.org</a></dd>
                </dl>
                <dl class="list-terms">
                  <dt>Telephone</dt>
                  <dd><a href="callto:#">+1 959 603 6035</a></dd>
                </dl>
                <dl class="list-terms">
                  <dt>Address</dt>
                  <dd><a href="#">222 Fashion Lane, Ste. 207 Tustin, CA 92780</a></dd>
                </dl>
              </div>
            </div>
          </div>
        </section>
        <section class="section-50">
          <div class="container">
            <div class="row row-30">
              <div class="col-md-6 col-lg-3 offset-xl-1 order-lg-1">
                <h4>Financial Planning</h4>
                <ul class="list">
                  <li><a href="planning.html">Investment Management</a></li>
                  <li><a href="planning.html">Retirement Planning</a></li>
                  <li><a href="planning.html">Long Term Care</a></li>
                  <li><a href="planning.html">Estate Planning</a></li>
                  <li><a href="planning.html">Social Security</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-3 order-lg-1 offset-md-top-0">
                <h4>Investment Help</h4>
                <ul class="list">
                  <li><a href="help.html">Wealth Management</a></li>
                  <li><a href="help.html">Retirement & College</a></li>
                  <li><a href="help.html">Savings Business Owners</a></li>
                  <li><a href="help.html">Insurance & Annuities</a></li>
                  <li><a href="help.html">Cash & Credit</a></li>
                  <li><a href="help.html">Stocks, Bonds & Mutual Funds</a></li>
                </ul>
              </div>
              <div class="col-lg-5">
                <p class="small">
                  Investments products and services available only to residents of : Arizona - AZ, California - CA, Hawaii - HI, Idaho - ID, New Jersey - NJ, New Mexico - NM, Oregon - OR, Washington - WA Securities and Investment Advice through John Doe & Company, A registered broker/dealer and Investment Advisor, Member FINRA and SIPC. 101 Serious Road, Fincity, FL 32707 Tel: (959) 603- 6035.| John Doe Financial Advisors is not an affiliate of Wall Street Company.
                  <br><br>
                  All other trademarks and copyrights are the properties of their respective holders.
                  This website provides information related to the subjects covered. Before making any financial or legal decisions, a professional should be consulted.
                  
                </p>
                <div class="text-uppercase copyright">Financial Vision &#169;<span class="copyright-year"></span> | <a href="privacy.html">Privacy Policy</a> <a target="_blank" href="https://www.mobanwang.com/" title="网站模板">网站模板</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>